* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins" , sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0px 230px;
    background-color: green;
    height: 6.7vh;
}

.logo {
    padding: 10px;
    color: yellow;
    padding-left: 20px;
    cursor: pointer;
}

.nav-items {
    display: flex;
    padding: 0px;
}

.nav-links {
    padding: 20px 30px;
    list-style: none;
    cursor: pointer;
    transition: all ease 0.3s;
}

.nav-links:hover {
    background-color: red;
}

.active {
    background-color: red;
    padding: 20px;
}

.nav-links a {
    color: yellow;
    text-decoration: none;
}

main {
    margin: 100px 230px 0 230px;
    border: 1px solid rgb(220, 215, 215);
    background-color: aliceblue;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.welcomegi {
    display: flex;
    justify-content: space-between;
}

.text-div {
    border: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 30px;
    height: 50vh;
    background-image: url(images/hero1.jpg);
    background-size: cover;
    background-position: center;
}

.text-div h1 {
    text-align: center;
    padding: 100px 50px 40px;
    font-size: 40px;
    color: white;
}

.text-div p {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.text-div button {
    width: 200px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: red;
    color: yellow;
    padding: 15px;
    margin:70px 0px 30px 470px;
    cursor: pointer;
    transition: all ease 0.3s;
    border-top-right-radius:20px ;
    border-bottom-left-radius:20px ;
}

.text-div button:hover {
    background-color: green;
    color: white;
}

.about {
    margin: 100px 0 0 0;
    padding: 30px;
    background-color: green;
    color: #fff;
}

.about h1 {
    text-align: center;
    padding: 40px 0px 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
    font-size: 30px;
    color: yellow;
}

.about .center {
    text-align: center;
}

.about h3 {
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
    color: yellow;
    margin-bottom: 30px;
}


.leader-img {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.leader-img h6 {
    text-align: center;
    text-decoration: underline;
}

.projects {
    margin-top: 100px;
    padding: 30px;
    background-color: red;
    color: #fff;
}

.projects h1 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.groups-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.group1 {
    margin-bottom: 100px;
}

.group1 img {
    width: 550px;
    height: 400px;
}

